body {
    margin: 0;
}

.first-section {
    background-image: url(../images/jpg/background.jpg);
    height: 100vh;
    background-size: cover;
}

.content {
    max-width: 1169px;
    margin: 0 auto;
}

.navigation-berber-shop {
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.content-navigation {
    width: 1169px;
    display: flex;
    justify-content: space-between;
}

.left-nav {
    margin: 0;
}

.svg-logo {
    margin-right: 13px;
}

.right-nav {
    margin: 0;
    display: flex;
    align-items: center;
}

.right-nav-item {
    margin-right: 45px;
    list-style-type: none;
}
    
.right-nav-item :last-child {
    margin-right: 0px;
}

.navigation-logo {
    display: flex;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    font-size: 30px;
    align-items: center;
    font-style: oblique;
}

.navigation-item {
    letter-spacing: 0.24px;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.navigation-item:hover {
    text-decoration: underline;
    color: #BB8C4B;
}



.navigation-item-button {
    color: #000000;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.navigation-item-button:hover {
    color: #FFFFFF;
}

.right-nav-item-button {
    list-style-type: none;
}
    

.navigation-button {
    border-radius: 19px;
    padding: 12px 17px 12px 18px;
    border: none;
}

.navigation-button:hover {
    background-color: #BB8C4B;
}

.berber-shop-info {
    padding-top: 280px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.info-header {
    align-items: center;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 60px;
    margin: 0;
}

.info-first-section {
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.6; 
}

.info-first-section-text {
    margin-top: 42px;
    margin-bottom: 0;
}

.button-more {
    display: flex;
    margin: 0 auto;
    padding: 12px 35px 14px 35px;
    border-radius: 23px;
    background-color: #BB8C4B;
    margin-top: 44px;
    border: none;
    cursor: pointer;
}

.button-more:hover {
    border: 1px solid #BB8C4B;
    background-color: transparent;
}

.button-more:focus {
    outline: none;
}

.more {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    font-weight: 600px;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}

.more a:hover { 
    text-decoration: underline;
    color: #BB8C4B;
}

.second-section {
    height: 100vh;
    background: #FFFFFF;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 92px;
    margin: 0;
}

.second-section-content {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #333333;
    opacity: 1;
    text-align: center;
}

.section-info-text {
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 28px;
    margin-bottom: 20px;
}

.section-picture {
    text-align: center;
    margin-bottom: 80px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    width: 370px;
    height: 466px;
    text-align: center;
}

.grid-header {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.44px;
    color: #333333;
    opacity: 1
}

.grid-text {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #999999;
}

.second-section-photo {
    border-radius: 150px;
}

.third-section {
    background: #333333;
    height: 100vh;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 90px;
}

.title_white {
    color:#FFFFFF;
}

.text_white {
    color: #FFFFFF;
}

.grid-third-section {
    display: grid;
    grid-template-columns: repeat(6, 170px);
    grid-column-gap: 30px;
}

.grid-third-section-item {
    border: 1px solid #FFFFFF;
    opacity: 1;
    text-align: center;
}

.grid-third-section-title {
    color: #FFFFFF;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
}

.grid-third-section-text {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;
    margin-bottom: 31px;
}

.fourth-section {
    height: 100vh;
    background: #FFFFFF;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 90px;
}

.fourth-section-content {
    width: 975px;
    margin: 0 auto;
}

.fourth-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 477px);
    grid-template-rows: repeat(4, 53px);
    grid-column-gap: 28px;
    grid-row-gap: 40px;
}

.fourth-section-grid-item {
    width: 477px;
}

.fourth-section-grid-header {
    display: flex;
    justify-content: space-between;
}

.fourth-section-grid-title {
    letter-spacing: 0.4px;
    color: #222222;
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.fourth-section-grid-price {
    letter-spacing: 0.4px;
    color: #BB8C4B;
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
}

.fourth-section-grid-info {
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    font-size: 14px;
}

.fifth-section {
    background: #333333;
    height: 100vh;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 160px;
}

.section-header {
    margin: 0;
}

.fifth_section-picture {
    margin-bottom: 90px;
}

.fifth-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-column-gap: 30px;
}

.fifth-section-grid-item {
    background: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fifth-section-grid-item-text {
    letter-spacing: 0px;
    color: #5F5F5F;
    opacity: 1;
    font-size: 14px;
}

.fifth-section-grid-item-picture {
    background: transparent;
    border-radius: 60px;
    opacity: 1;
}

.author {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.36px;
    color: #333333;
    opacity: 1;
}

.sixth-section {
    background: #FFFFFF;
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100vh;
    opacity: 1;
}

.sixth-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-column-gap: 60px;
}

.sixth-section-grid-item-more {
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}

.sixth-section-grid-item-data {
    font-size: 14px;
    font-weight: 500;
    font: normal normal normal 14px/14px Times New Roman;
    letter-spacing: 0.28px;
    color: #999999;
    opacity: 1;
    margin-top: 0;
}

.sixth-section-grid-item-picture {
    border: none;
    margin-bottom: 10px;
}

.sixth-section-grid-item-more:hover {
    text-decoration: underline;
    color: #BB8C4B;
}

.svg-more {
    margin-left: 5px;
    background: transparent;
}

.sixth-section-grid-item-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #333333;
    opacity: 1;
}

.sixth-section-grid-item-text {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    margin-top: 22px;
    margin-bottom: 24px;
}

.read_more {
    font-family: 'OpenSans-Semibold';
    font-size: 12px;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;
    padding: 14px 36px 14px 36px;
    border: 1px solid #E0E0E0;
    border-radius: 23px;
    opacity: 1;
    margin-top: 60px;
}

.read_more-text {
    text-align: center;
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;
    text-decoration: none;
}

.read_more-text:hover {
    color: #BB8C4B;
}

.read_more-text:focus {
    outline: none;
}

.seventh-section {
    background-color: #252525;
    padding-top: 95px;
    padding-bottom: 21px;
    opacity: 1;
}

.main-info {
    display: flex;
    justify-content: space-between;
}

.about-us-title-text {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    font-style: italic;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 46px;
}

.about-us-svg {
    background: #FFFFFF;
    opacity: 1;
}

.time-schedule-info-text {
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    color: #BDBDBD;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 40px;
}

.time-schedule-info-data {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #BDBDBD;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 0;
}

.time-schedule-time {
    color: #FFFFFF;
}

.license-text {
    margin-top: 60px;
    margin-bottom: 0;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    font-size: 14px;
}

.contacts-header-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts-adress {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0px;
    color: #BDBDBD;
    opacity: 1;
    font-size: 14px;
    margin-bottom: 30px;
}

.contacts-adress:hover {
    text-decoration: underline;
    color: #BB8C4B;
}

.svg-contacts {
    margin-right: 16px;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.social-networks-item {
    margin-right: 24px;
}

.social-networks-svg path:hover {
    fill: #BB8C4B;
}





